* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Protest Strike", sans-serif;
}

html,
body {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}

html{
overflow-x: hidden;
}

canvas {
position: fixed;
top:0;
left:0;
}

canvas {
display: block;
}

li {
list-style: none;
}

a {
text-decoration: none;
color: white;
}

.space {
position: absolute;
width: 100vw;
color:white;
z-index: 99;
margin: 0 auto;
padding: 120px 0;
color: white;
height: 100vh;
display: none;
}

.protest-strike-regular {
font-family: "Protest Strike", sans-serif;
font-weight: 400;
font-style: normal;
}

h1 { 
font-weight: normal;
}

.translate-text {
}

.intro__text {
font-size: 2.5rem;
max-width: 500px;
background: rgba(0, 0, 0, 0.5);
padding: 16px;
border-radius: 8px;
opacity: 0;
width: 100%;
transition: opacity 1s ease-in-out;
}

.show {
opacity: 1;
transition: opacity 0.5s ease-in-out;
border: 2px solid black;
/* transform: translate(0%, 50%); */
}

.rocket__ship {
  position: fixed;
  bottom: 1.5%;
  right: 1%;
  display: none;
  z-index: 1000;
}

.rocket__ship img {
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  transform: scaleX(-1);
  user-drag: none;  
  -webkit-user-drag: none; 
  -moz-user-select: none;  
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  animation: shake 1s infinite linear; 
}

/* shaking animation for the rocket back and forth a few degrees */

@keyframes shake {
  0% { transform: rotate(0deg);  }
  25% { transform: rotate(-3deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(3deg); }
  100% { transform: rotate(0deg); }
}

.tooltip {
  position: absolute;
  width: 200px;
  top: 95%;
  left: 50%;
  color: white;
  display: flex;
  justify-content: center;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

.rocket__ship:hover .tooltip {
  opacity: 1; 
}

.black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: 9999;
  pointer-events: none;
  transition: opacity 0.5s ease; /* Adjust duration for the blink effect */
}

.intro__scroll {
position: absolute;
top: 25%;
left: 50%;
transform: translateX(-50%);
font-size: 2rem;
color: white;
opacity: 0;
transition: opacity 1s ease-in-out;
z-index: 1000;
scale: 1.15;
}

.intro__scroll__bar {
width: 2px;
height: 12px;
background: white;
border-radius: 9999px;
margin: 0 auto;
position: relative;
animation: scroll 2s infinite linear;
}

@keyframes scroll {
0% {
  transform: translateY(0);
}
50% {
  transform: translateY(5px);
}
100% {
  transform: translateY(0);
}
}

.intro__scroll__outline {
display: flex;
border: 2px solid white;
padding: 4px 13px;
border-radius: 9999px;
height: 50px;
}

.earth {
opacity: 0;
display: none;
position: absolute;
width: 100vw;
color:white;
z-index: 99;
margin: 0 auto;
padding: 120px 0;
color: white;
height: 101vh;
}

.show_text {
opacity: 1;
display: block;
transition: opacity 1s ease-in-out;
transition: display 1s ease-in-out;
}

.earth_intro {
transform: translateY(-2%);
font-size: 2.5rem;
text-align: center;
}

.dummy { 
width: 500px;
opacity: 0;
}
.move__up {
transform: translateY(-50%);
}

.loading__screen {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background: white;
display: none;
justify-content: center;
align-items: center;
z-index: 999;
color: black;
}

.credit {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background: white;
display: none;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 999;
color: white;
}

.skills__list {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
padding: 20px;
}

.skill {
width: 150px;
height: 150px;
margin: 8px;
}

.item {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 20px;
letter-spacing: 2px;
}

.loading__screen__container__text {
font-size: 7rem;
letter-spacing: 2px;
color: black;
z-index: 9999;
}

.loading__screen__container {
background-color: black;
height: 0px;
width: 0px;
border-radius: 9999px;
position: absolute;
transition: all 1s ease-in-out;
}

.white_text {
position: absolute;
width: 100vw;
color:white;
z-index: 99;
margin: 0 auto;
padding: 120px 0;
color: white;
height: 101vh;
display: none;
}

.ScrollableContent h1 {
font-size: 5.5rem;
font-weight: normal;
margin-bottom: 20px;
}

.ScrollableContent {
display: none;
max-height: 7000px;
}

.white_text {
color: white;
font-size: 5.5rem;
height: 100px;
padding-bottom: 100px;
}

/* smooth scroll */

html {
scroll-behavior: smooth;
}

.label {
color: white;
font-size: 20px;
background-color: rgba(0, 0, 0, 0.5);
padding: 5px;
border-radius: 5px;
pointer-events: none;
}

.darkmode-toggle {
  width: 500px;
  height: 200px;
  position: fixed;
  display: none;
  background-color: #292929; 
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  z-index: 1000;
  transition: 0.3s;
  transform: scale(0.2);
  top: -5%;
  left: -9%;
  opacity: .95;
}

#label:after {
  content: "";
  width: 180px;
  height: 180px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: linear-gradient(to bottom, #000000, #4F6EDB);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#darkmode-toggle {
  width: 0;
  height: 0;
  visibility: hidden;
  
}

#darkmode-toggle:checked + #label {
  background-color: #F0D423; 
}

#darkmode-toggle:checked + #label:after {
  left: 490px;
  transform: translateX(-100%);
  background: linear-gradient(to bottom, #B1B1B1, #4F6EDB);

}

#label:active:after {
  width: 260px;
}

#label svg {
  position: absolute;
  width: 120px;
  top: 40px;
  z-index: 100;
}

#label svg.moon {
  left: 40px;
  fill: #fff;
  transition: 0.3s;
  max-height: 120px;
}

#label svg.sun {
  left: 340px;
  fill: #7e7e7e;
  transition: 0.3s;
}

#darkmode-toggle:checked + #label svg.moon {
  fill: #7e7e7e;
}

#darkmode-toggle:checked + #label svg.sun {
  fill: #fff;
}

#nav {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  z-index: 50;
  padding: 32px;
}

.nav__link{
  font-size: 4rem;
  border-bottom: 4px solid white;
  letter-spacing: 4px;
  padding: 20px;
  width: 50%;
}

.nav__link:hover {
  background: white;
  color: black;
  transition: all 0.25s ease-in;
  cursor: pointer;
}

#Contact {
  display: none;
}

.contact__container {
  position: fixed;
  top: 0;
  left: 20%;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 32px;
  z-index: 500;
}

.card {
  width: 500px;
  background-color: #ffffff;
  padding: 16px;
  border: 2px solid rgba(36, 35, 35, 0.5);
  border-radius: 12px;
}

form h1 {
  font-size: 1rem;
  color: #333;
  margin-bottom: 8px;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  z-index: 1000;
}

form input:focus {
  outline: none;
  border-color: #134a92; 
}

button {
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #134a92;
}

.card__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__top div {
  display: flex;
  align-items: center;
}

.contact {
  height: 100%;
  width: 100%;
  z-index: 100;
}

.textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  z-index: 1000;
}

.sidepanel {
    display: none;
    width: 100px;

  }
  
  .panel__container{
    display:flex;
    height: 180px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .panel__link {
    color: black;
    background-color: white;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 9999px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* smooth transition */
    transition: all 0.15s ease-in-out;
  }

  .panel__link:hover {
    background: black;
    color: white;
    border: 2px solid black;
  }
  